html{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}
.cof-aside{
  background-color:rgb(255, 255, 255);
  color: #333;
  width: 30%;
  height:100%;
  position: absolute;
  left: 0px;
  overflow: hidden;
}
#rightel,#rightcoffee,#rightmeishi,#rightyinliao,#rightshangpin{
  height: 100%;
  width: 70%;
  position: absolute;
  right: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* 将滚动条隐藏 */
/* #rightel::-webkit-scrollbar{
  width: 0px;
} */
.el-container .cof-aside .cof-top{
  height: 20%;
  width: 100%;
  line-height: 100px;
  text-align: center;
  font-family: Playlist;
  font-size: 20px;
  /* background-color: rebeccapurple; */
}
.el-container .cof-aside .cof-top .logo{
  position: absolute;
  top: 30px;
  left: 40px;
  width: 35px;
}
.el-container .cof-aside .cof-top .menu{
  width: 35px;
  position: absolute;
  top: 30px;
  right: 20px;
}
.el-container .cof-aside .cof-top .menu,.el-container .cof-aside .cof-main-right .ul-menu:hover{
  cursor: pointer;
}
.el-container .cof-aside .cof-main-right .ul-menu ul li i{
  letter-spacing: 0px;
  font-size: 20px;
  font-style:normal
}
.el-container .cof-aside .cof-main-right .ul-menu ul li i.Hover{
  border-bottom:3px solid #409EFF
}
/* .el-container .el-aside .cof-main-left{
  width: 100%;
  height: 100%;
} */
.el-container .cof-aside .cof-main-right{
  width: 100%;
  height: 80%;
}
.el-container .cof-aside .cof-main-right ul{
  list-style-type: none;
  display: block;
}
.el-container .cof-aside .cof-main-right .ul-menu{
  position: absolute;
  top: 15%;
  left: 20%;
  line-height: 40px;
  font-family: "正楷";
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 4px
}
.el-container .cof-aside .cof-main-right .ul-menu ul{
  font-family:"黑体";
  font-weight: 200;
  font-size:20px;
  line-height: 30px;
}
.el-container .cof-aside .cof-font{
  font-family: Yangrendong;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 60%;
  line-height: 50px;
  margin: 0 auto;
  position: relative;
  top: 20%;
}
/* #rightel .el-carousel {
  width: 100%;
  padding-bottom: 30%;
  height: 0;
} */
#rightel .el-carousel .el-carousel__container{
  width: 100%;
  padding-bottom: 35%;
  height: 0;
}
#rightel .cof-main-featured{
  width: 100%;
  padding-bottom: 26.6%;
  height: 0;
  overflow: hidden;
  background:  rgb(247, 247, 247);
  margin-bottom: 50px;
}
#rightel .cof-main-featured div{
  width: 30%;
  margin: 1.6%;
  float: left;
  padding-bottom: 23.4%;
  height: 0;
}
#rightel .cof-main-Main{
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 40px;
  font-family: Playlist;
  font-size: 25px;
  background-color: white;
  line-height: 40px;
}
#rightel .cof-main-big-img{
  border-radius: 20px;
  width: 100%;
  padding-bottom: 50%;
  height: 0;
  background-image: url(https://s1.ax1x.com/2020/04/22/JYyEn0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#rightel .cof-main-Main font{
  font-family: "正楷";
  font-size: 15px;
  letter-spacing: 2px;
}
#rightel .cof-main-Introduction{
  width: 100%;
  height: 150px;
}
#rightel .cof-main-Introduction .cof-main-Introduction-title{
  font-size: 20px;
}
#rightel .cof-main-featured .cof-main-featured-one{
  background: url(https://s1.ax1x.com/2020/04/22/JYrmrV.jpg) no-repeat  center;
  background-size: cover;
}
#rightel .cof-main-featured .cof-main-featured-two{
  background: url(https://s1.ax1x.com/2020/04/22/JYreK0.jpg) no-repeat  center;
  background-size: cover;
}
#rightel .cof-main-featured .cof-main-featured-three{
  background: url(https://s1.ax1x.com/2020/04/22/JYrVvq.jpg) no-repeat  center;
  background-size: cover;
}
#rightel .cof-main-featured div:hover{
  box-shadow: 5px 5px 5px #ccc;
  z-index: 10;
  position: relative;
  top:-2px;
  cursor: pointer;
}
.el-drawer{
  padding-right: 50px;
  overflow-y: scroll;
}
.el-drawer .el-form{
  margin: auto;
  margin-top: 20px;
}
.el-drawer .el-form .cof-title{
  text-align: center;
  display: block;
  height: 50px;
  font-family: Playlist;
}
/* 将滑轮不显示 */
.el-drawer::-webkit-scrollbar{
  width: 0px;
}
.el-carousel__item:nth-child(2n) {
   background-color: #99a9bf;
}
.el-carousel__item:nth-child(2n+1) {
   background-color: #d3dce6;
}
.block{
  margin: auto;
  width: 800px;
  height: 400px;
}
.block .el-carousel{
  width: 82%;
  height: 100%;
}
.block .block-left{
  width: 18%;
  height: 100%;
  float: left;
}
.block .block-left ul{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  list-style: none;
}
.block .block-left ul li{
  display: block;
  width: 100%;
  height: 25%;
  font-size: 14px;
  background-color: rgb(248, 248, 248);
}
.block .block-left ul li:hover{
  cursor: pointer;
}
.block .block-left ul li:checked{
  background-color: white;
}
.block .block-left ul li font {
  position: relative;
  top: 25%;
  left: 20%;
}
.block .el-carousel .el-carousel__container {
  width: 100%;
  height: 100%;
  /* padding-bottom: 60%;
  height: 0; */
}
.rightcoffee-Cherry-blossoms{
  text-align: center;
  margin-bottom: 20px;
}
.rightcoffee-Cherry-blossoms span{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
}
.rightcoffee-Cherry-blossoms font{
  display: inline-block;
  width: 700px;
  line-height: 25px;
}
.rightcoffee-all-coffee{
  width: 100%;
  text-align: center;
  background-color: rgb(247, 247, 247);
}
.rightcoffee-all-coffee font{
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}
.rightcoffee-all-coffee-block{
  display: inline-block;
  width: 150px;
  margin: 5%;
}
.rightcoffee-all-coffee-block .demonstration{
  font-size: smaller;
  color: gray;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
#rightyinliao,#rightmeishi{
  background-color: rgb(248, 248, 248);
}
#rightyinliao .cof-rightyinliaoul,#rightmeishi .cof-rightyinliaoul{
  list-style: none;
}
#rightyinliao span,#rightmeishi  span{
  font-family: '微软雅黑';
  color: gray;
}
#rightyinliao ul li,#rightmeishi ul li{
  display: inline-block;
  width: 150px;
  margin-left: 100px;
  margin-bottom: 50px
}
#rightyinliao ul li font,#rightmeishi ul li font{
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#rightyinliao ul li img,#rightmeishi ul li img{
  width: 150px;
  box-shadow: 2px 2px 2px rgb(233,233,235);
  border-radius: 50%;
}
#rightyinliao ul li:hover,#rightmeishi ul li:hover{
  position: relative;
  top:-1px;
  cursor: pointer;
}
#rightyinliao ul li img:hover,#rightmeishi ul li img:hover {
  box-shadow:2px 2px 2px 2px gray;
}
.CommDilog{
  /* float: left; */
  width: 100%;
  height: 100%;
}
.CommDilog .commMain{
  display: inline-block;
}
.CommDilog img{
  /* float: left; */
  width: 20%;
  display: inline-block;
}
.CommDilog .commSpecification{
  margin-top: 20px;
}
.CommDilog .CommDilog-Num{
  float: right;
  width: 70%;  
}

@font-face{
  font-family: "Playlist";
  src: url("../font/Playlist.ttf");
}
@font-face{
  font-family: "Yangrendong";
  src: url("../font/Zhushiti.ttf");
}
@font-face{
  font-family: "Maoziti";
  src:url("../font/Mao.ttf");
}
@font-face{
  font-family: "Cukai";
  src:url("../font/CuKai.ttf");
}
.shopping-rightyinliaoul li{
  list-style: none; 
  width: 100%;
  height: 6rem;
  line-height:6rem;
 margin-bottom: 2%;
 border: #ccc 1px solid;
 border-radius: 10px;
 margin-left: -3%;
 
}
.shopping-rightyinliaoul li img {
 position: relative;
 top: 20%;
 left: 3%;
 width: 11%;
}
.shopping-rightyinliaoul li font{
 margin-left: 7%;
 }
 .shoppingnum{
   width: 18%;
   margin-left: 10%;
   
 }
 .shoppingchecked{
   margin-left: 3%;
 }
 .shpzj{
   margin-left: 85%;
   color: red;
 }
 .gwcCommDilog{
  /* float: left; */
  width: 100%;
  height: 350px;
  overflow: auto;
}
/* 将滑轮不显示 */
/* .gwcCommDilog::-webkit-scrollbar{
  width: 2px;
} */

.gwcCommDilog .commMain{
  display: inline-block;
}
.gwcCommDilog img{
  /* float: left; */
  width: 20%;
  display: inline-block;
}
.gwcCommDilog .commSpecification{
  margin-top: 20px;
}
/* .el-input-number__increase{
  width: 30%;
  height: auto;
}
.el-input-number__decrease{
  width: 30%;
  height: auto;
} */
